{% extends "main.html" %}

{% block content %}
<main class="form-page">
  <article class="form-card">
    <div class="form-header">
      <a href="javascript:history.back()" class="back-btn" aria-label="Go back" style="text-decoration: none;">
        <i class="fa-solid fa-angle-left"></i>
      </a>
      <h2 style="margin:0;">Edit Profile</h2>
    </div>

    <form class="flex-col" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-field">
        <label for="{{field.id_for_label}}">{{field.label}}</label><br>
        {{ field }}
      </div>
      {% endfor %}

      <div class="form-field">
        <label>Interests</label>
        <textarea class="input" name="interests" placeholder="Add your interests here..."></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>

  </article>
</main>

{% endblock content %}