{% extends "main.html" %}

{% block content %}

<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">New Messages(<span>{{ count }}</span>)</h3>
    <ul class="messages">
      {% for messageIn in messageRequest %}
      {% if messageIn.is_read %}
      <li class="message">
      {% else %}
      <li class="message message--unread">
      {% endif %}
        <a href="{% url "message" messageIn.id %}">
          <span class="message__author">{{ messageIn.name }}</span>
          <span class="message__subject">{{ messageIn.subject }}</span>
          <span class="message__date">{{ messageIn.created }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock content %}
